<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.net>
    <mailSettings>

      <smtp >
        <network host="in-mum-smtp1.in.capgemini.com" userName="SVC-IN-DASH" password="WelCome@1" />
      </smtp>

    </mailSettings>

  </system.net>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="EmailIdFrom" value="dashboard.in@capgemini.com"/>
    <add key="Domain" value="Corp"/>
    <add key="LDAPConnectionString" value="LDAP://DC=CORP,DC=CAPGEMINI,DC=COM" />
  </appSettings> 
  <connectionStrings>
    <!--<add name="DashboardEntities" connectionString="metadata=res://*/DPEntities.csdl|res://*/DPEntities.ssdl|res://*/DPEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIN16000575;initial catalog=Dashboard;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DashboardEntities" connectionString="metadata=res://*/DPEntities.csdl|res://*/DPEntities.ssdl|res://*/DPEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIN16000579;initial catalog=Dashboard;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  
  </connectionStrings>
  <system.web>

   

    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" />
    <pages styleSheetTheme="Default">


    </pages>

    <authentication mode="Forms" >
      <forms defaultUrl="Index.aspx" loginUrl="~\Login.aspx" timeout="30"  ></forms>

    </authentication>
    <identity impersonate="false" />
    <authorization>

      <deny users="?" />
      <!-- Allow all users -->
      <!--  <allow users="[comma separated list of users]"
                 roles="[comma separated list of roles]"/>
        <deny users="[comma separated list of users]"
              roles="[comma separated list of roles]"/>
    -->
    </authorization>
    
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>
